@import "../variables.scss";
.about {
	padding: 52px 0 56px;
	@media screen and (max-width: $desktop) {
		padding: 40px 0 36px;
	}

	@media screen and (max-width: $tablet) {
		padding: 40px 0;
	}
	&__container {
		position: relative;
	}
	&__fon-right {
		position: absolute;
		width: 112px;
		height: auto;
		z-index: -1;
		top: -36px;
		right: -20px;
		max-height: 98px;
		@media screen and (max-width: $desktop) {
			top: -328px;
			width: 84px;
		}
		@media screen and (max-width: $big-tablet) {
			max-height: 69px;
			top: -40px;
			right: 16px;
		}
	}
	&__fon-left {
		position: absolute;
		width: 112px;
		height: auto;
		z-index: -1;
		left: -36px;
		bottom: -8px;
		@media screen and (max-width: $desktop) {
			display: none;
		}
	}
	&__title {
		color: $main-black;
		font-size: 40px;
		font-weight: 700;
		line-height: 48px;
		margin-bottom: 36px;
		@media screen and (max-width: $desktop) {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 32px;
		}
		@media screen and (max-width: $tablet) {
			margin-bottom: 22px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 112px;
		position: static;
		height: auto;
		padding: 0 18px 0 32px;
		@media screen and (max-width: $desktop) {
			gap: 24px;
			height: 756px;
			position: relative;
			padding: 0;
		}
		@media screen and (max-width: $big-tablet) {
			gap: 24px;
			height: auto;
			position: static;
		}
	}
	&__first-container {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 50px;

		@media screen and (max-width: $desktop) {
			flex-direction: row-reverse;
			align-items: flex-start;
			justify-content: space-between;
			gap: 24px;
			position: absolute;
			top: 0;
		}
		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			align-items: center;
			gap: 16px;
			position: relative;
			width: auto;
		}
		&__text-container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 100%;
			@media screen and (max-width: $desktop) {
				width: 47.7%;
			}
			@media screen and (max-width: $big-tablet) {
				width: auto;
			}
		}
	}
	&__second-container {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		gap: 50px;
		@media screen and (max-width: $desktop) {
			flex-direction: row;
			gap: 24px;
			align-items: flex-end;
			position: absolute;
			justify-content: space-between;
			top: 288px;
		}
		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			align-items: center;
			gap: 16px;
			position: relative;
			width: auto;
			top: auto;
		}

		&__text-container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			@media screen and (max-width: $desktop) {
				min-width: 48.8%;
				max-width: 48.8%;
			}
			@media screen and (max-width: $big-tablet) {
				min-width: auto;
				max-width: none;
			}
		}
	}
	&__image {
		width: 558px;
		max-height: 348px;
		min-height: 336px;
		@media screen and (max-width: $desktop) {
			width: 344px;
			max-height: 276px;
			min-height: 264px;
		}
		@media screen and (max-width: $tablet) {
			width: 343px;
			max-height: 214px;
			min-height: auto;
		}
	}
	&__text {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		@media screen and (max-width: $desktop) {
			font-size: 16px;
		}
	}
}
.we-are {
	padding: 56px 0;
	@media screen and (max-width: $desktop) {
		padding: 36px 0;
	}

	@media screen and (max-width: $tablet) {
		padding: 40px 0;
	}
	&__title {
		color: $main-black;
		font-size: 40px;
		font-weight: 700;
		line-height: 48px;
		margin-bottom: 36px;
		@media screen and (max-width: $desktop) {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 32px;
		}
		@media screen and (max-width: $tablet) {
			margin-bottom: 24px;
		}
	}
	&__list {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: $desktop) {
			justify-content: center;
			gap: 16px;
		}
		&__item {
			width: 31.9%;
			@media screen and (max-width: $desktop) {
				width: 48.863636%;
			}
			@media screen and (max-width: $big-tablet) {
				width: 100%;
			}
			&:nth-child(4) {
				order: 4;
			}
			&:nth-child(6) {
				order: 5;
			}
			&__title {
				font-size: 24px;
				font-weight: 600;
				line-height: 28px;
				padding: 22px 0 22px 20px;
				position: relative;
				border-left: 8px solid $main-yellow;
				border-radius: 4px;
			}
			&__text {
				font-size: 18px;
				line-height: 24px;
				padding-left: 20px;
				@media screen and (max-width: $desktop) {
					font-size: 16px;
				}
			}
		}
	}
}
.our-team {
	padding: 56px 0;
	@media screen and (max-width: $desktop) {
		padding: 36px 0;
	}

	@media screen and (max-width: $tablet) {
		padding: 40px 0;
	}
	&__container {
		position: relative;
	}
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__slider {
		position: relative;
		overflow-y: visible;
	}
	&__buttons-wrapper {
		display: flex;
		gap: 48px;
		left: 30%;
		@media screen and (max-width: $desktop) {
			position: absolute;
			bottom: -50px;
			width: 90%;
			left: 5%;
			justify-content: space-between;
		}
	}
	&__pagination-span {
		display: none;
		@media screen and (max-width: $desktop) {
			display: block;
			width: 29px;
			height: 2px;
			border-radius: 0;
		}
	}
	&__pagination-span.swiper-pagination-bullet-active {
		background: #000;
	}
	&__list {
		display: flex;
		flex-wrap: nowrap;
		gap: 24px;
		align-items: baseline;
		justify-content: center;
		@media screen and (max-width: $desktop) {
			gap: 16px;
		}
		@media screen and (max-width: $tablet) {
			flex-wrap: nowrap;
			justify-content: normal;
		}
		&__item {
			margin-right: 0 !important;
			display: flex;
			flex-direction: column;
			gap: 8px;
			max-width: 267px;
			@media screen and (max-width: $desktop) {
				gap: 12px;
			}
			&__img {
				width: 240px;
				@media screen and (max-width: $desktop) {
					width: auto;
					max-width: 164px;
				}
			}
			&__text-container {
				display: flex;
				flex-direction: column;
				gap: 8px;
				padding: 16px 16px 11px 16px;
				@media screen and (max-width: $desktop) {
					padding: 0;
					gap: 2px;
				}
			}
			&__person {
				font-size: 18px;
				font-weight: 600;
				line-height: 21px;
				@media screen and (max-width: $desktop) {
					font-size: 14px;
					font-weight: 600;
				}
			}
			&__position {
				color: $grey;
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				@media screen and (max-width: $desktop) {
					font-size: 12px;
					font-weight: 500;
					line-height: 16px;
				}
			}
		}
	}
	&__title {
		color: $main-black;
		font-size: 40px;
		font-weight: 700;
		line-height: 48px;
		margin-bottom: 36px;
		@media screen and (max-width: $desktop) {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 32px;
		}
		@media screen and (max-width: $tablet) {
			margin-bottom: 24px;
		}
	}
}
// slider
.swiper-button-prev,
.swiper-button-next {
	position: static;
	margin: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 24px;
	color: $main-black;
}
.swiper-pagination {
	display: flex;
	justify-content: center;
	bottom: -28px !important;
	padding: 0 27px;
}
.swiper-grid-column .swiper-wrapper {
	flex-direction: row !important;
}
