@import "../variables.scss";
.contacts {
	padding: 56px 0;
	@media screen and (max-width: $desktop) {
		padding: 40px 0 36px;
	}
	@media screen and (max-width: $tablet) {
		padding: 40px 0 13px;
	}
	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: 48px;
		margin-bottom: 36px;
		@media screen and (max-width: $desktop) {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 32px;
		}
		@media screen and (max-width: $tablet) {
			text-align: center;
			margin-bottom: 23px;
		}
	}
	&__wrapper {
		display: flex;
		gap: 42.5px;
		flex-wrap: wrap;
		@media screen and (max-width: $desktop) {
			gap: 155px;
		}
		@media screen and (max-width: $tablet) {
			gap: 16px;
			flex-direction: column;
		}
	}
	&__list {
		display: flex;
		gap: 42.5px;
		align-items: baseline;
		@media screen and (max-width: $desktop) {
			flex-direction: column;
			gap: 16px;
		}
		&__item {
			display: flex;
			align-items: center;
			gap: 22px;
			&__icon {
				width: 40px;
				height: 40px;
				@media screen and (max-width: $desktop) {
					width: 24px;
					height: 24px;
				}
			}
			&__text {
				font-size: 18px;
				font-weight: 600;
				line-height: 24px;
				transition: color $transition-function;

				&:hover,
				&:focus {
					color: $dark-violet;
				}
				@media screen and (max-width: $desktop) {
					font-size: 16px;
					line-height: 23px;
				}
			}
		}
	}
}

.maps {
	padding: 56px 0;
	@media screen and (max-width: $desktop) {
		padding: 36px 0;
	}
	@media screen and (max-width: $tablet) {
		padding: 40px 0;
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		margin-bottom: 36px;
		max-width: 462px;
		@media screen and (max-width: $desktop) {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 40px;
			max-width: 343px;
		}
		@media screen and (max-width: $tablet) {
			text-align: center;
			margin-bottom: 24px;
			max-width: none;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 36px;
		@media screen and (max-width: $tablet) {
			gap: 24px;
		}
		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			@media screen and (max-width: $tablet) {
				flex-direction: column-reverse;
			}
			&__title {
				max-width: 408px;
				width: 100%;
				padding-left: 12px;
				border-left: 8px solid $main-yellow;
				border-radius: 4px;

				font-size: 18px;
				line-height: 24px;
				@media screen and (max-width: $desktop) {
					max-width: 344px;
					font-size: 16px;
					line-height: 24px;
				}
				@media screen and (max-width: $tablet) {
					align-self: start;
					max-width: none;
				}
			}
			&__map {
				width: 484px;
				@media screen and (max-width: $desktop) {
					width: 48.863636%;
				}
				@media screen and (max-width: $tablet) {
					width: 100%;
				}
			}
		}
	}
}

.team {
	padding: 56px 0 112px;
	@media screen and (max-width: $desktop) {
		padding: 36px 0 72px;
	}
	@media screen and (max-width: $tablet) {
		padding: 40px 0 80px;
	}

	&__container {
		display: flex;
		align-items: center;
		gap: 98px;
		justify-content: space-between;
		@media screen and (max-width: $desktop) {
			gap: 16px;
		}
		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			gap: 80px;
		}
		&__content {
			position: relative;
			max-width: 484px;
			display: flex;
			flex-direction: column;
			gap: 86px;
			@media screen and (max-width: $desktop) {
				max-width: 344px;
				gap: 42px;
			}
			@media screen and (max-width: $tablet) {
				max-width: none;
				gap: 20px;
			}
			&__fon-image {
				width: 112px;
				position: absolute;
				z-index: -1;
				top: -36px;
				right: -22px;
				@media screen and (max-width: $tablet) {
					display: none;
				}
			}
		}
	}
	&__text-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		@media screen and (max-width: $desktop) {
			gap: 16px;
		}
	}
	&__wrapper {
		width: 100%;
		padding-top: 56.25%;
		position: relative;
		overflow: hidden;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		@media screen and (max-width: $desktop) {
			font-size: 18px;
			line-height: 24px;
		}
		@media screen and (max-width: $tablet) {
			text-align: center;
		}
	}
	&__text {
		font-size: 18px;
		line-height: 24px;
		@media screen and (max-width: $desktop) {
			font-size: 16px;
			line-height: 24px;
		}
		@media screen and (max-width: $tablet) {
			text-align: center;
		}
	}
}
