

@import "../variables.scss";

@import "../template-parts-styles/title";
@import "../template-parts-styles/content";
@import "../template-parts-styles/articles";
@import "../template-parts-styles/new";
@import "../template-parts-styles/slider";
@import "../template-parts-styles/contacts-list";
@import "./home/base";
@import "./home/banner";
@import "./home/collaboration";
@import "./home/contacts";

@import "../template-parts-styles/title";
@import "../template-parts-styles/content";
@import "../template-parts-styles/articles";
@import "../template-parts-styles/new";
@import "../template-parts-styles/slider";
@import "../template-parts-styles/contacts-list";
@import "./home/base";
@import "./home/banner";
@import "./home/collaboration";
@import "./home/contacts";
