@import "../variables.scss";

.projects {
	padding-top: 56px;

	@media screen and (max-width: $desktop) {
		padding-top: 40px;
	}
}

.projects__title {
	margin-bottom: 36px;
	font-size: 40px;
	font-weight: 700;
	line-height: calc(48 / 40);

	@media screen and (max-width: $desktop) {
		margin-bottom: 32px;
		font-size: 30px;
		line-height: calc(34 / 30);
	}
}

.tabs-container {
	display: flex;
	gap: 42px;

	@media screen and (max-width: $desktop) {
		display: flex;
		justify-content: space-between;
		gap: 22px;
	}
}

.tab {
	position: relative;
	padding: 14px 32px;
	border: none;
	background-color: transparent;
	transition: background-color $transition-function;
	cursor: pointer;
	border-radius: 12px 12px 0 0;
	font-weight: 500;
	line-height: calc(20 / 16);

	@media screen and (max-width: $desktop) {
		padding: 14px 32px;
		font-weight: 400;
		line-height: calc(24 / 16);
	}

	&:hover {
		background-color: $light-violet;
		border-radius: 12px 12px 0 0;
	}

	&.tab-active {
		background-color: transparent;
		font-weight: 600;

		@media screen and (max-width: $desktop) {
			line-height: calc(22.5 / 16);
		}
	}

	&.tab-active::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $main-yellow;
		border-radius: $btn-border-radius;
	}
}

.tab-content {
	display: none;
}

.tab-content.tab-active {
	display: block;
	margin-top: 10px;
}

.project__title {
	max-width: 752px;
	margin: 36px auto;
	font-size: 24px;
	font-weight: 600;
	line-height: calc(28 / 24);
	text-align: center;

	@media screen and (max-width: $desktop) {
		margin: 32px auto;
		max-width: 516px;
		margin-bottom: 24px;
		font-size: 18px;
		line-height: calc(24 / 18);
	}
}

.project__wrap {
	display: flex;
	gap: 24px;
}

.project__img {
	border-radius: $btn-border-radius;
	overflow: hidden;
}

.project__flex {
	flex: 1;
	flex-basis: 50%;
	font-weight: 500;
	line-height: calc(20 / 16);

	@media screen and (max-width: $desktop) {
		font-size: 12px;
		line-height: calc(16 / 12);
	}
}

.text__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 36px;
	gap: 5px;

	@media screen and (max-width: $desktop) {
		margin-bottom: 16px;
	}
}

.text__btn {
	padding: 8px 16px;
	border: 1px solid $main-mint;
	border-radius: $btn-border-radius;
}

.project__description {
	font-size: 18px;
	font-weight: 400;
	line-height: calc(20 / 18);

	@media screen and (max-width: $desktop) {
		font-size: 16px;
		line-height: calc(24 / 16);
	}
}

.project__budget {
	margin-left: 16px;
	margin-top: 10px;
	position: relative;
	font-size: 18px;
	font-weight: 400;
	line-height: calc(24 / 18);

	@media screen and (max-width: $desktop) {
		font-size: 16px;
		line-height: calc(24 / 16);
	}
}

.project__budget::before {
	content: "";
	position: absolute;
	top: 0;
	left: -16px;
	width: 8px;
	height: 100%;
	background-color: $main-yellow;
	border-radius: $btn-border-radius;
}

.description__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 78%;

	@media screen and (max-width: 1150px) {
		height: 75%;
	}
}
