@import '../variables.scss';

.support-title_wrap {
  padding-top: 52px;
  padding-bottom: 36px;

  @media screen and (max-width: $desktop) {
    padding-top: 40px;
    padding-bottom: 32px;
  }
  @media screen and (max-width: $tablet) {
    padding-bottom: 22px;
  }
}

.support-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  
  @media screen and (max-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.donate-section {
  margin-bottom: 56px;
  @media screen and (max-width: $desktop) {
    background-color: $light-violet;
    margin-bottom: 54px;
  }
    @media screen and (max-width: $tablet) {
      margin-bottom: 57px;
    }
}

.donate__inner-container {
  background-color: $light-violet;
  padding: 74px 97px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (max-width: $desktop) {
    height: 503px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px 0;
  }
}

.donate-section {
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px;
    @media screen and (max-width: $desktop) {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    @media screen and (max-width: $desktop) {
      font-size: 16px;
      line-height: 1.4;
      }
  }

  &__bank {
    color: $dark-violet;
  }
}

.donate-text__wrap {
  @media screen and (max-width: $desktop) {
  text-align: center;
  }
}

.donate-button {
  margin-top: 36px;
  min-width: 186px;
  @media screen and (max-width: $desktop) {
    min-width: 344px;
    margin: 0;
    order: 3;
  }
  @media screen and (max-width: $tablet) {
    min-width: 100%;
  }
}

.donate-image__wrap {
  width: 250px;
  align-self: flex-end;
  @media screen and (max-width: $desktop) {
    align-self: center;
  }
}
