.banner {
    min-height: 300px;
    margin-top: 64px;
    margin-bottom: 112px;
    background: url('../');
    background-size: cover;
    background-position: top center;

    &__title {
        margin-bottom: 44px;
        text-align: center;
        font-size: 1.77rem;

        &>h1 {
            margin-top: 6px;
            font-size: 2.44rem;
            font-weight: 700;
            line-height: 118%;

        }

    }

    &__gallary {
        display: flex;
        align-items: baseline;
        gap: 24px;
        margin-bottom: 50px;

        &-img {
            max-width: 364px;

            &:first-child {
                position: relative;
                top: 55px;
            }
        }

    }

    .banner__cards {
        width: fit-content;
        min-width:65%;
        display: flex;
        gap: 27px;
        margin: 0 auto 64px;
        color: $grey55;
        @media (max-width:$mobile){
         min-width: 100%;
       }

        &-card {
            width: 33.33%;
            padding: 0 14px;
            min-height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
            align-items: center;


            & img {
                max-height: 64px;
                max-width: 70px;

            }

            &:nth-child(2n) {
                & img {
                    max-width: 35px;

                }
            }
        }
    }

    &__desc {
        max-width: 791px;
        margin: 0 auto;
        color: $main-black;
        font-size: 1.33em;
        font-weight: 600;
        line-height: 116%;
        text-align: center;
    }
}