.footer--container {
	padding-top: 72px;
	padding-bottom: 46px;
	position: relative;
}

.footer-line {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-image: linear-gradient(to right, #ffffff, #cfcfcf, #ffffff);
	}
}

.footer__logo {
	margin-right: 121px;
	width: 168px;
	height: 168px;
}

.footer__wraper {
	margin-bottom: 36px;
	display: flex;
	font-size: 18px;
	font-weight: 600;
	line-height: calc(24 / 18);
}

.footer__list {
	margin-top: 12px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.menu-item {
	margin-right: 74px;
	margin-bottom: 36px;
}

.fcontact__list {
	margin-top: 4px;
	margin-right: 72px;
}

.fsocial__list {
	margin-top: 12px;
	text-align: center;

	p {
		margin-bottom: 28px;
	}

	svg {
		margin-bottom: 16px;
	}
}

.fcontac__link {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	gap: 22px;
}

.icon {
	background-color: red;
	border-radius: 50%;
}
