.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;

	@media screen and (min-width: $tablet) {
		padding: 0 32px;
	}

	@media screen and (min-width: $desktop) {
		max-width: $desktop;
		padding: 0 16px;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	width: fit-content;
	cursor: pointer;
	border: 1px solid transparent;
	font-family: inherit;
	font-size: 18px;
	line-height: 1.33;
	border-radius: $btn-border-radius;
	transition: all $transition-function;

	&:hover,
	&:focus {
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

.primary_button {
	color: $main-white;
	background-color: $dark-violet;
	font-weight: 400;
	@media screen and (max-width: 767.98px) {
		width: 100%;
	}
	&:hover,
	&:focus {
		color: $dark-violet;
		background-color: $main-white;
		border: 1.5px solid $dark-violet;
		font-weight: 600;
	}
}

.secondary_button {
	color: $dark-violet;
	background-color: $main-white;
	border: 1.5px solid $dark-violet;
	font-weight: 600;
	&:hover,
	&:focus {
		color: $main-white;
		background-color: $dark-violet;
		font-weight: 400;
		border: 1px solid transparent;
	}
}

.read-more_button {
	padding: 14px 0;
	background-color: transparent;
	border-color: transparent;
	font-weight: 500;
	line-height: 1.25;
	color: $main-black;
}
.arrow-icon {
	fill: $grey70;
	transition: all $transition-function;
}

.read-more_button:hover,
.read-more_button:focus {
	font-weight: 600;
	color: $dark-violet;

	.arrow-icon {
		transform: rotate(-45deg);
		fill: $dark-violet;
	}
}
