.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;

	@media screen and (min-width: $tablet) {
		max-width: $desktop;
		padding: 0 32px;
	}

	@media screen and (min-width: $desktop) {
		max-width: 1172px;
		padding: 0 16px;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	width: fit-content;
	cursor: pointer;
	border: 1px solid transparent;
	font-family: inherit;
  font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	border-radius: $btn-border-radius;
	transition: all $transition-function;
}

//violet button
.primary_button {
	color: $main-white;
	background-color: $dark-violet;
	@media screen and (max-width: $tablet) {
		width: 100%;
	}
	&:hover,
	&:focus {
		color: $dark-violet;
		background-color: $main-white;
		border: 1.5px solid $dark-violet;
	}
}

//white button
.secondary_button {
	color: $dark-violet;
	background-color: $main-white;
	border: 1.5px solid $dark-violet;
	&:hover,
	&:focus {
		color: $main-white;
		background-color: $dark-violet;
		border: 1px solid transparent;
	}
}

//read-more & hide buttons
.read-more_button,
.hide_button {
	padding: 14px 0;
	background-color: transparent;
	border-color: transparent;
	line-height: 1.25;
	color: $main-black;
}
.arrow-icon,
.close-icon {
	width: 24px;
	height: 24px;
	margin-left: 4px;
	fill: $grey70;
	transition: all $transition-function;
}

.read-more_button:hover,
.read-more_button:focus {
	color: $dark-violet;

	.arrow-icon {
		transform: rotate(-45deg);
		fill: $dark-violet;
	}
}

.hide_button:hover,
.hide_button:focus {
	font-weight: 600;
	color: $dark-violet;

	.close-icon {
		fill: $dark-violet;
	}
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	margin: -1px;
}
