$main-white: #fdfcfc;
$main-black: #070707;
$dark-violet: #663a7b;
$light-violet: #f5f2f7;
$grey15: #cfcfcf;
$grey30: #acacac;
$grey55: #717171;
$grey70: #4e4e4e;
$main-violet: #ae9ac5;
$main-mint: #8fcecb;
$main-yellow: #f1cc75;
$dark-mint: #027f79;
$dark-violet: #663a7b;
$dark-yellow: #a87806;
$blue: #2031cb;
$red-alert: #e40505;

$mobile: 375px;
$tablet: 576px;
$big-tablet: 759px;
$desktop: 992px;

$btn-border-radius: 4px;

$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
