.content{
    
    &__desc{
        &-text{
          
            &>p{
                line-height: 134%;
                margin-bottom: 16px;
            }
        }
    
  
     
     
    }
   
    &__fon{
        width: 48%;
        float: right;
        margin-left: 24px;
    }
    
   
}