.new{
    display: flex;

    &--column{
        & .new__body{
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 100%;
        }
        & .new__back{
            margin-bottom: 12px;
        }
        & .new__footer{
            margin-top: 16px;
        }
      
    }
    &--row{
        & .new__body{
            flex-direction: row;
        }
    
    }
    &__body{
        display: flex;
    }
    &__desc{

        &>h3{
            font-size: 20px;
            font-weight: 600;
            line-height: 110%;
        }
        &>p{
            color:$grey55;
        }
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        line-height: 125%;
    }

}