@import "../variables.scss";

.aside-post-box:not(:last-child) {
  margin-bottom: 40px;
  @media screen and (max-width: $desktop) {
    margin-bottom: 0;
  }
    @media screen and (max-width: $tablet) {
      margin-bottom: 40px;
    }
}

.aside-post-box:last-child {
  display: none;
  @media screen and (max-width: $desktop) {
      display: block;
    }
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.aside-post__img {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
  border-radius: 4px;
}

.aside-image__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aside-image__link img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.aside-post__title {
  font-weight: 600;
  line-height: 1.4;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 18px;
  @media screen and (max-width: $desktop) {
    min-height: 45px;
    font-size: 16px;
  }
  @media screen and (max-width: $tablet) {
    min-height: auto;
  }
}

.aside-post__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}