@import "../variables.scss";

.single__banner{
    width: 100%;
    height: 384px;
    margin-bottom: 72px;
    margin-top: 56px;
    position: relative;

    @media screen and (max-width: $desktop) {
        margin-top: 40px;
        margin-bottom: 32px;
        height: 238px;
    }
}

.single__banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.single__post-title{
    color: $main-white;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    position: absolute;
    bottom: 52px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: $desktop) {
        font-size: 16px;
        line-height: 22.5px;
        bottom: 36px;
    }
}

.single__post-time{
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: $main-white;
    line-height: 20px;
    font-weight: 500;
    @media screen and (max-width: $desktop) {
        font-size: 14px;
        line-height: 4px;
        bottom: 16px;
    }
}

.single__container{
    display: grid;
    grid-template-columns: 66% 26%;
    gap: 61px;

    @media screen and (max-width: $desktop) {
        max-width: 100%;
        display: block;
   }
}

.post__content p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
    @media screen and (max-width: $desktop) {
        
        font-size: 16px;
        
    }
}

.single-post__slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 21px;
    height: auto;
    @media screen and (max-width: $desktop) {
        margin-right: 16px;
    }
    
  }
.single-post__slider2 li.swiper-slide.swiper-slide-active{
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.single-post__slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.single-post__slider .swiper-container {
    width: 100%;
    max-height: 448px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $desktop) {
        max-height: 428px;
    }
  }

.single-post__slider2 .swiper-slide {
    background-size: cover;
    background-position: center;
    height: auto;
}

.single-post__slider {
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $tablet) {
        display: none;
    }
  }

.single-post__slider2 {
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 21px;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $desktop) {
        margin-top: 32px;
    }
}

.single-post__slider2 .swiper-slide {
    width: 25%;
    height: 100%;
   
  }

.single-post__slider2 .swiper-slide-thumb-active {
    opacity: 1;
  }

.single-post__slider2 .swiper-slide img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.single-post__slider .swiper-pagination{
    position: static;
    @media screen and (max-width: $tablet) {
      
    }
}

.single-post__slider2 .swiper-pagination{
    display: none;
    @media screen and (max-width: $tablet) {
      display: block;
      position: static;
    }
}

.single-post__slider .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom,auto);
    top: var(--swiper-pagination-top,auto);
    left: 0;
    width: 100%;
    
}