@import "../variables.scss";
.join-us {
	padding: 56px 0;
	@media screen and (max-width: $desktop) {
		padding: 36px 0;
	}

	@media screen and (max-width: $tablet) {
		padding: 40px 0;
	}
	&__container {
		background-color: $light-violet;
		padding-top: 24px;
		padding-bottom: 24px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		@media screen and (max-width: $desktop) {
			text-align: center;
			flex-direction: column;
		}
		@media screen and (max-width: $tablet) {
			text-align: left;
		}
	}
	&__content {
		width: 558px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		@media screen and (max-width: $desktop) {
			width: auto;
			margin: 0 55px 32px;
			align-items: center;
			justify-content: center;
		}
		@media screen and (max-width: $tablet) {
			margin: 0 auto 32px;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		@media screen and (max-width: $desktop) {
			margin: 0 5% 0;
		}
		@media screen and (max-width: $tablet) {
			margin: 0;
		}
	}
	&__description {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
	&__button {
		@media screen and (max-width: $desktop) {
			width: 344px;
			font-size: 16px;
		}
		@media screen and (max-width: $tablet) {
			width: 100%;
		}
	}
}
