@import "../variables.scss";
.join-us {
	padding: 40px 0;
	@media screen and (min-width: $tablet) {
		padding: 36px 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 56px 0;
	}
	&__container {
		background-color: $light-violet;
		padding-top: 24px;
		padding-bottom: 24px;
		@media screen and (min-width: $tablet) {
			text-align: center;
		}

		@media screen and (min-width: $desktop) {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			text-align: left;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin: 0 auto 32px;
		@media screen and (min-width: $tablet) {
			width: 590px;
			justify-content: center;
			align-items: center;
		}

		@media screen and (min-width: $desktop) {
			width: 558px;
			margin: 0;
		}
	}
	&__title {
		font-family: Raleway;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
		@media screen and (min-width: $tablet) {
			width: 508px;
		}

		@media screen and (min-width: $desktop) {
			width: auto;
		}
	}
	&__description {
		font-family: Raleway;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		@media screen and (min-width: $tablet) {
			width: 598px;
		}

		@media screen and (min-width: $desktop) {
			width: auto;
		}
	}
	&__button {
		display: inline-block;
		width: 100%;
		padding: 8px 0;
		background: $dark-violet;

		color: $main-white;
		font-family: Raleway;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		text-align: center;

		&:hover,
		&:focus {
			font-weight: 600;

			background-color: transparent;
			border: 1.5px solid $dark-violet;
			color: $dark-violet;
		}

		@media screen and (min-width: $tablet) {
			width: 344px;
		}

		@media screen and (min-width: $desktop) {
			width: 151px;
			height: max-content;
			padding: 12px 0;

			font-size: 18px;
		}
	}
}
