@import '../variables.scss';

.lib-pagination {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  font-weight: 500;
}

.lib-pagination .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.lib-pagination .page-numbers.current {
  border-radius: 4px;
  background: $grey15;
}
